node_modules/
src/main/node_modules/
src/slides/node_modules/
src/demo/node_modules/
*-lock.json
dist/
build/
.DS_Store
.vscode/
.idea/
.env
.env.local
.env.*.local
coverage/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log* 