@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* React Slick Carousel Custom Styles */
.slick-slider {
  position: relative;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: #3b82f6 !important;
}

.slick-dots li.slick-active button:before {
  color: #1d4ed8 !important;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev {
  left: -40px !important;
}

.slick-next {
  right: -40px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  color: #3b82f6 !important;
}

@media (max-width: 768px) {
  .slick-prev {
    left: 10px !important;
  }
  
  .slick-next {
    right: 10px !important;
  }
}